<html>
    <head>
        <title>Update Product</title>
    </head>
<form method="POST">
    {% csrf_token %}
    <h1>Update Product</h1>
    <label for="location">Location:</label> 
    <input type="text" id="location" name="location" value="{{ product.location }}" required><br><br>
    <label for="rent">Rent:</label>  
    <input type="number" id="rent" name="rent" value="{{ product.rent }}" required><br><br>
    <label for="bed_rooms">Number of Bedrooms:</label>  
    <input type="number" id="bed_rooms" name="bed_rooms" value="{{ product.bed_rooms }}" required><br><br>
    <label for="posted_on">Posted On:</label>   
    <input type="date" id="posted_on" name="posted_on" value="{{ product.posted_on }}" required><br><br>
    <button type="submit">Update</button>
    
</form>

</html>